<header class="header">
	<div class="header_inner">
		<h1 class="header_title"><a href="<%= data.path %>">BOAR Auction</a></h1>
		<div class="header_utility">
			<ul class="header_menu">
				<li><a href="#">出品をご希望の方</a></li>
				<li><a href="#">会員申請</a></li>
			</ul>
			<div class="header_btn"><a href="#">サインイン</a></div>
		</div>
	</div>
</header>
<div class="menu">
	<a href="javascript:void(0);" class="menu_trigger">
		<span></span>
		<span></span>
		<span></span>
	</a>
	<ul class="menu_list">
		<li><a href="/auction-list/" data-label="オークション一覧"><img src="<%= data.path %>/images/common/ico_auction.svg" alt="オークション一覧" class="replace-svg"></a></li>
		<li><a href="/item/" data-label="出品アイテム一覧"><img src="<%= data.path %>/images/common/ico_item.svg" alt="出品アイテム一覧" class="replace-svg"></a></li>
		<li><a href="/notice/" data-label="お知らせ"><img src="<%= data.path %>/images/common/ico_news.svg" alt="お知らせ" class="replace-svg"></a></li>
		<li><a href="/faq/" data-label="よくあるご質問"><img src="<%= data.path %>/images/common/ico_faq.svg" alt="よくあるご質問" class="replace-svg"></a></li>
		<li><a href="/contact/input/" data-label="お問い合わせ"><img src="<%= data.path %>/images/common/ico_contact.svg" alt="お問い合わせ" class="replace-svg"></a></li>
	</ul>
	<div class="navigation">
		<div class="navigation_list">
			<li><a href="<%= data.path %>">TOP<span>トップページ</span></a></li>
			<li><a href="<%= data.path %>auction-list/">Auctions<span>オークション一覧</span></a></li>
			<li><a href="<%= data.path %>item/">Items<span>出品アイテム一覧</span></a></li>
			<li><a href="<%= data.path %>notice/">News<span>お知らせ</span></a></li>
			<li><a href="<%= data.path %>notice/">News<span>お知らせ</span></a></li>
			<li><a href="<%= data.path %>faq/">FAQ<span>よくあるご質問</span></a></li>
			<li><a href="<%= data.path %>contact/">Contact Us<span>お問い合わせ</span></a></li>
		</div>
		<div class="navigation_menu">
			<div class="navigation_row">
				<button type="button" class="btn btn_submit" onclick="location.href='<%= data.path %>member/login/'">サインイン</button>
				<p><a href="<%= data.path %>member/input/">会員申請</a></p>
			</div>
			<p><a href="<%= data.path %>request/">出品をご希望の方</a></p>
		</div>
	</div>
</div>


