<%
var pageData = {
	path: '../',
	title: '',
	keywords: '',
	description: '',
};
var breadcrumb = {
	currentLabel: '利用規約',
}
%>
<!doctype html>
	<html lang="ja">
		<head>
			<%- include( '../includes/_head', { data: pageData } ) %>
		</head>
	
		<body>
			<%- include( '../includes/_gtmBody', { data: pageData } ) %>
			<%- include( '../includes/_header', { data: pageData } ) %>
			<div class="container terms">
				<h2 class="title en">Terms of Use</h2>
				<%- include( '../includes/_breadcrumb', { data: breadcrumb } ) %>
				<div class="wrapper">
					<div class="single_content terms_content">
						<p>このオンラインオークション規約（以下「本規約」といいます。）は、株式会社地新（以下「当社」といいます。）が提供するサービス「ボアオークション」（以下「本オークション」といいます。）の利用条件を定めるものです。本サービスの利用登録が完了した会員の皆様（以下「会員」といいます。）には、本規約に従って、本サービスをご利用いただきます。</p>
						<h3>第１条（適用）</h3>
						<ol class="terms_list-num">
							<li>当社は、本規約に定めるところにより、本オークションを開催します。本規約は、本オークションの円滑な運営を目的に必要な手続きを定めるものであり、当社と会員との間における本サービスの利用にかかる一切の契約（以下「会員契約」といいます。）に対して適用されます。</li>
							<li>本オークションのホームページにおいて公開する又は個別に通知する会員に関する通知事項は、本規約の一部を構成します。本規約と通知事項に矛盾又は抵触する定めがある場合、通知事項が本規約に優先して適用されるものとします。</li>
							<li>当社は、入会希望者が本オークションの会員登録を行った時点で、本規約の内容に同意したものとみなします。</li>
						</ol>
						<h3>第２条（利用規約の変更）</h3>
						<ol class="terms_list-num">
							<li>当社は、予告なく本規約を変更することがあります。ただし、本規約の変更が会員に対する重大な不利益になると当社が判断する場合、相当期間をおいて変更後の規約の内容を会員に通知することにより本規約を変更するものとします。会員には常に最新の規約が適用されるものとし、その内容は本オークションのホームページ上に掲載するなど、当社が適切と判断する方法により会員に通知又は公表します。</li>
							<li>最新の規約については本オークションのホームページに掲載するものとし、当該掲載がなされた時点から効力を生じるものとします。</li>
						</ol>
						<h3>第３条（通知又は連絡）</h3>
						<ol class="terms_list-num">
							<li>会員と当社との間の通知又は連絡は、特段の定めのない限り、電子メール、書面、本オークションのホームページへの掲載など、当社が適当と判断する方法により行います。</li>
							<li>前項の通知を本オークションのホームページへの掲載により行う場合、当該通知はホームページへの掲載がなされた時点から効力を生じるものとします。</li>
							<li>会員は、当社からの電子メールについて、会員が届け出たメールアドレスに確実に到達しうるようにし、当社から依頼があった場合は、これに対して遅滞なく応答するものとします。</li>
							<li>当社は会員に対し、当社、当社グループ会社又は当社と提携する他社のサービス、商品に関する情報を通知することがあります。</li>
							<li>前項の通知を電子メールで行う場合、送信するメールやファイルに使用されるディスク容量は会員の負担とします。</li>
						</ol>
						<h3>第４条（会員登録）</h3>
						<ol class="terms_list-num">
							<li>本オークションの利用には、あらかじめ会員登録をする必要があります。</li>
							<li>登録希望者が当社の定める方法によって利用登録を申請し、当社がこれを承認することによって、本オークションの会員登録が完了するものとします。会員登録の完了をもって会員契約が成立するものとします。</li>
							<li>当社は、会員登録の申請者に以下の事由があると判断した場合、会員登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。
								<ol class="terms_list-num">
									<li>会員登録の申請に際して不正な事項を届け出た場合</li>
									<li>会員登録の申請内容に不備があった場合</li>
									<li>本規約に違反したことがある者からの申請である場合</li>
									<li>未成年者など、単独で有効に契約を締結することに障害がある場合</li>
									<li>反社会的勢力や国連制裁国などに所属する者からの申請である場合</li>
									<li>その他、当社が適当でないと判断した場合</li>
								</ol>
							</li>
						</ol>
						<p class="omit">…中略</p>
						<p>附則<br>
						本規約は、2022年1月1日に制定し、同日より効力を有するものとします。</p>
					</div>
					<div class="single_content terms_content">
						<h3>【別記１】</h3>
						<h4>会員資格</h4>
						<p>本規約に同意できる方で、当社の定める基準を満たす方のみとします。</p>
						<h4>手数料（税込）</h4>
						<p>商品の落札に対し、売主、買主から一定の手数料をいただきます。手数料額については本規約とは別に定めるものとします。</p>
						<h4>取引条件</h4>
						<p>商品の落札に対し、売主、買主から一定の手数料をいただきます。手数料額については本規約とは別に定めるものとします。</p>
						<ol class="terms_list-num">
							<li>落札された商品に関する売買契約は、出品者と落札者の間で成立するものとし、当社は取引の当事者とはなりません。出品者・落札者・その他の第三者との間に発生した一切のトラブルについては、当社は一切責任を負わず、当事者間で解決するものとします。</li>
							<li>国際貿易取引に該当する場合、FOBの条件にて、対応するものとします。</li>
							<li>商品の管理に関し、当社は保管時の時間経過、その他の自然的要因による劣化については、一切の責任を負いません。</li>
						</ol>
						
						<h4>その他特約</h4>
						<p>次の規約は本規約の特約に該当します。本規約と特約に矛盾又は抵触する定めがある場合、特約が本規約に優先して適用されるものとします。</p>
						<div class="terms_link"><p><a href="../">トップへ戻る</a></p></div>
					</div>
				</div>
			</div>
			<%- include( '../includes/_footer', { data: pageData } ) %>
			<%- include( '../includes/_scripts', { data: pageData } ) %>
		</body>
	</html>