<%
var pageData = {
	path: '../',
	title: '',
	keywords: '',
	description: '',
};
var breadcrumb = {
	currentLabel: '利用規約',
}
%>
<!doctype html>
	<html lang="ja">
		<head>
			<%- include( '../includes/_head', { data: pageData } ) %>
		</head>
	
		<body>
			<%- include( '../includes/_gtmBody', { data: pageData } ) %>
			<%- include( '../includes/_header', { data: pageData } ) %>
			<div class="container terms">
				<h2 class="title en">Terms of Use</h2>
				<%- include( '../includes/_breadcrumb', { data: breadcrumb } ) %>
				<div class="wrapper">
					<div class="single_content terms_content">
						<p>この規約（以下「本規約」といいます。）は、株式会社 地新（以下「当社」といいます。）が提供するすべての製品およびサービス（以下「本サービス」といいます。）の利用に関する条件を、本サービスを利用するお客様（以下「お客様」といいます。）と当社との間で定めるものです。</p>
						<h3>1.定義</h3>
						<p>本規約では、以下の用語を使用します。</p>
						<ol class="terms_list-num">
							<li>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</li>
							<li>何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</li>
							<li>しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</li>
							<li>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。
							<ol class="terms_list-alpha">
								<li>ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</li>
								<li>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。</li>
								<li>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</li>
							</ol>
							
							</li>
							<li>この書生というのは時々我々を捕えて煮て食うという話である。</li>
						</ol>
						<h3>2. 規約への同意</h3>
						<ol class="terms_list-num">
							<li>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</li>
							<li>何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</li>
							<li>しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</li>
						</ol>
						<table>
							<tbody>
								<tr>
								<th>項目１</th>
								<th>項目2</th>
								</tr>
								<tr>
								<td>あるところは岨づたいに行く崖の道であり</td>
								<td>あるところは数十間の深さに臨む木曾川の岸であり</td>
								</tr>
								<tr>
								<td>あるところは岨づたいに行く崖の道であり</td>
								<td>あるところは数十間の深さに臨む木曾川</td>
								</tr>
							</tbody>
						</table>
						<h3>3. 規約の変更</h3>
						<p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</p>
						<div class="terms_link"><p><a href="../">トップへ戻る</a></p></div>
					</div>
				</div>
			</div>
			<%- include( '../includes/_footer', { data: pageData } ) %>
			<%- include( '../includes/_scripts', { data: pageData } ) %>
		</body>
	</html>