<%
var pageData = {
	path: '../../',
	title: '',
	keywords: '',
	description: '',
};
var breadcrumb = {
	parrentLabel: 'お問い合わせ',
	parentUrl: '/contact/input/',
	currentLabel: '申請内容の確認',
}
%>
<!doctype html>
	<html lang="ja">
		<head>
			<%- include( '../../includes/_head', { data: pageData } ) %>
		</head>
	
		<body>
			<%- include( '../../includes/_header', { data: pageData } ) %>
			<div class="container registration">
				<h2 class="title en">Confirmation</h2>
				<%- include( '../../includes/_breadcrumb', { data: breadcrumb } ) %>
				<div class="wrapper">
					<div class="single_content confirm">
						<p>内容をご確認の上、よろしければ「送信する」ボタンを選択してください。</p>
						<form action="">
							<div class="confirm_row">
								<p class="label">代表者名</p>
								<p>山田 太郎（ヤマダ タロウ）</p>
							</div>
							<div class="confirm_row">
								<p class="label">電話番号</p>
								<p>045-222-3535</p>
							</div>
							<div class="confirm_row">
								<p class="label">メールアドレス</p>
								<p>sample@chishin-yokohama.com</p>
							</div>
							<div class="confirm_row">
								<p class="label">お問い合わせ内容</p>
								<p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</p>
							</div>
							<div class="confirm_lower">
								<button type="submit" id="confirm_submit" class="form_submit">送信する</button>
								<p><a href="javascript:history.back();">入力画面に戻る</a></p>
							</div>
							
						</form>

					</div>
				</div>
				
				
				
			</div>
			<%- include( '../../includes/_footer', { data: pageData } ) %>
			<%- include( '../../includes/_scripts', { data: pageData } ) %>
		</body>
	</html>