<%
var pageData = {
	path: '../',
	title: 'よくあるご質問｜BOAR Auction（ボアオークション）',
	keywords: '古美術,アンティーク,工芸,骨董,茶道具,オークション,市場,オンライン,入札,買取,神奈川,横浜',
	description: 'オークションについてのよくあるご質問はこちら。',
};
var breadcrumb = {
	currentLabel: 'よくあるご質問',
}
%>
<!doctype html>
	<html lang="ja">
		<head>
			<%- include( '../includes/_head', { data: pageData } ) %>
		</head>
	
		<body>
			<%- include( '../includes/_gtmBody', { data: pageData } ) %>
			<%- include( '../includes/_header', { data: pageData } ) %>
			<div class="container faq">
				<h1 class="title en">FAQ</h1>
				<%- include( '../includes/_breadcrumb', { data: breadcrumb } ) %>
				<div class="wrapper">
					<div class="multi_content">
						<div class="multi_container">
							<div class="multi_side">
								<ul class="list_tab">
									<li class="list_tab_item"><a href="#" class="is-current">オークションについて</a></li>
									<li class="list_tab_item"><a href="#">入札について</a></li>
									<li class="list_tab_item"><a href="#">お支払いについて</a></li>
									<li class="list_tab_item"><a href="#">商品の発送について</a></li>
								</ul>
							</div>
							<div class="multi_main">
								<div class="faq_row">
									<p class="faq_question">オークションに関する質問の内容が入ります</p>
									<p class="faq_answer">質問の回答が入ります。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
								</div>
								<div class="faq_row">
									<p class="faq_question">オークションに関する質問の内容が入ります</p>
									<p class="faq_answer">質問の回答が入ります。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
								</div>
								<div class="faq_row">
									<p class="faq_question">オークションに関する質問の内容が入ります</p>
									<p class="faq_answer">質問の回答が入ります。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
								</div>
								<div class="faq_row">
									<p class="faq_question">オークションに関する質問の内容が入ります</p>
									<p class="faq_answer">質問の回答が入ります。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
								</div>
								<div class="faq_row">
									<p class="faq_question">オークションに関する質問の内容が入ります</p>
									<p class="faq_answer">質問の回答が入ります。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
								</div>
								<div class="faq_row">
									<p class="faq_question">オークションに関する質問の内容が入ります</p>
									<p class="faq_answer">質問の回答が入ります。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
			<%- include( '../includes/_footer', { data: pageData } ) %>
			<%- include( '../includes/_scripts', { data: pageData } ) %>
		</body>
	</html>