<%
var pageData = {
	path: '../../',
	title: '',
	keywords: '',
	description: '',
	pnkzlabel: 'お問い合わせ'
};
%>
<!doctype html>
	<html lang="ja">
		<head>
			<%- include( '../../includes/_head', { data: pageData } ) %>
		</head>
	
		<body>
			<%- include( '../../includes/_header', { data: pageData } ) %>
			<div class="container registration">
				<h2 class="title en">Contact Us</h2>
				<%- include( '../../includes/_breadcrumb', { data: pageData } ) %>
				<div class="wrapper">
					<div class="single_content">
						<form action="">
							<div class="row">
								<div class="row_head">
									<p>お名前<span>※</span></p>
								</div>
								<div class="row_body">
									<div class="row_item_full">
										<input type="text" placeholder="例：山田 太郎" class="form_input">
									</div>
									<div class="form_error"></div>
								</div>
								
							</div>
							<div class="row">
								<div class="row_head">
									<p>電話番号<span>※</span></p>
								</div>
								<div class="row_body">
									<div class="row_item_full">
										<input type="text" placeholder="例：045-222-3535（ハイフンあり）" class="form_input">
									</div>
									<divclass="form_error"></div>
								</div>
							<div class="row">
								<div class="row_head">
									<p>メールアドレス<span>※</span></p>
								</div>
								<div class="row_body">
									<div class="row_item_full">
										<input type="text" placeholder="例：sample@chishin-yokohama.com" class="form_input">
									</div>
									<div class="form_error"></div>
								</div>
							</div>
							<div class="row">
								<div class="row_head">
									<p>お問い合わせ内容<span>※</span></p>
								</div>
								<div class="row_body">
									<div class="row_item_full"><textarea rows="4" placeholder="ご質問の内容を入力してください" class="form_input form_input-textarea"></textarea>
									</div>
									<div class="form_error"></div>
								</div>
							</div>
							<div class="form_lower">
								<div class="form_links">
									<p><a href="/terms/">利用規約</a></p>
									<p><a href="/privacy/">プライバシーポリシー</a></p>
								</div>
								<div class="form_agree">
									<input type="checkbox" class="form_checkbox" name="agreement" id="agreement">
									<label for="agreement" class="form_label">利用規約、プライバシーポリシーに同意する</label>
								</div>
								<button type="submit" id="registration_submit" class="form_submit" disabled>入力内容を確認</button>
							</div>
						</form>
						
					</div>
				</div>
			</div>
			<%- include( '../../includes/_footer', { data: pageData } ) %>
			<%- include( '../../includes/_scripts', { data: pageData } ) %>
			
		</body>
	</html>