<%
var pageData = {
	path: '../../',
	title: 'サインイン｜BOAR Auction（ボアオークション）',
	keywords: '古美術,アンティーク,工芸,骨董,茶道具,オークション,市場,オンライン,入札,買取,神奈川,横浜',
	description: 'ボアオークションのサインインはこちら。',
};
var breadcrumb = {
	currentLabel: 'サインイン',
}
%>
<!doctype html>
	<html lang="ja">
		<head>
			<%- include( '../../includes/_head', { data: pageData } ) %>
		</head>
	
		<body>
			<%- include( '../../includes/_gtmBody', { data: pageData } ) %>
			<%- include( '../../includes/_header', { data: pageData } ) %>
			<div class="container registration">
				<h2 class="title en">Sign In</h2>
				<%- include( '../../includes/_breadcrumb', { data: breadcrumb } ) %>
				<div class="wrapper">
				<div class="multi_content login">
					<div class="login_content">
						<p>ご登録のメールアドレスとパスワードをご入力ください。</p>
						<div class="row">
							<div class="row_head">
								<p>メールアドレス<span>※</span></p>
							</div>
							<div class="row_body">
								<div class="row_item_full">
									<input type="text" placeholder="例：sample@chishin-yokohama.com" class="form_input">
								</div>
								<div class="form_error">メールアドレスが違います</div>
							</div>
							
						</div>
						<div class="row">
							<div class="row_head">
								<p>パスワード<span>※</span></p>
							</div>
							<div class="row_group">
								<div class="row_item_full">
									<input type="password" id="password-01" placeholder="半角英数字で8文字以上" class="form_input">
									<span id="show-pass-01" class="form_eye"><img src="../../images/common/ico_eyes.svg" class="replace-svg" alt=""></span>
								</div>
							</div>
							<div class="form_error">パスワードが違います</div>
						</div>
						<div class="row">
							<div class="form_agree">
								<input type="checkbox" class="form_checkbox" name="status" id="status">
								<label for="status" class="form_label">ログインしたままにする</label>
							</div>
							<button type="submit" class="form_submit">入力内容を確認</button>
						</div>
						<div class="login_reminder">
							<p><a href="/member/reminder/">パスワードを忘れた方はこちら</a></p>
						</div>
						
				
					</div>
					<div class="login_content">
						<div class="login_box">
							<h2 class="login_title">新規会員申請</h2>
							<p>ボアライブのライブオークションに参加するためには会員登録が必要になります。</p>
							<button type="button" class="form_submit" onclick="location.href='../../member/input/ '">新規会員申請</button>
						</div>
					</div>
				</div>
				</div>
			</div>
			<%- include( '../../includes/_footer', { data: pageData } ) %>
			<%- include( '../../includes/_scripts', { data: pageData } ) %>
		</body>
	</html>